<img src="https://www.amd.com/system/files/76826-python-logo-1260x709.jpg" height="300px">

# Урок 2. Структуры данных I

## Часть 1. Списки, кортежи

Список - это коллекция объектов, хранящаяся в одной переменной. Между этими объетами есть какая-то смысловая связь, но формально нет никаких ограничений на типы объектов, которые могут храниться в одном списке.

In [ ]:
students = ['bernice', 'aaron', 'cody']

for student in students:
    print("Hello, " + student.title() + "!")

Hello, Bernice!
Hello, Aaron!
Hello, Cody!

#### Инициализация

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

#### Обращение к элементу списка по индексу

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dog = dogs[0]
print(dog.title())

Border Collie

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dog = dogs[1]
print(dog.title())

Australian Cattle Dog

#### Обращение к последнему элементу

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dog = dogs[-1]
print(dog.title())

Labrador Retriever

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dog = dogs[-2]
print(dog.title())

Australian Cattle Dog

#### Частая ошибка при обращении по индексу

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dog = dogs[-4] # Ошибка
dog = dogs[3]  # Тоже ошибка
print(dog.title())

IndexError: ignored

### Списки и циклы

#### Обращение ко всем элементам списка

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

for dog in dogs:
    print(dog)

border collie
australian cattle dog
labrador retriever

Рассмотрим эту конструкцию:

    for dog in dogs:

- Ключевое слово "for" говорит Python, что это цикл.
- Переменная "dog" (без "s" на конце) - временная, в ней хранятся элементы списка, один за одним.

Сайт <a href="http://pythontutor.com/visualize.html#code=cars+%3D+%5B'aston+martin',+'porsche+cayenne',+'ferrari+california'%5D%0A%0Afor+car+in+cars%3A%0A++++print(car%29&mode=display&origin=opt-frontend.js&cumulative=false&heapPrimitives=false&textReferences=false&py=3&rawInputLstJSON=%5B%5D&curInstr=0">pythontutor.com</a> позволяет запускать код по одной строке и отображает, что происходит с объектами Python. 

С элементами списка в цикле можно делать много всего, не только печатать их без изменений.

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
for dog in dogs:
    print('I like ' + dog + 's.')

I like border collies.
I like australian cattle dogs.
I like labrador retrievers.

#### Метод enumerate для перечисления элементов списка вместе с их индексами

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
print("Results for the dog show are as follows:\n")
for index, dog in enumerate(dogs):
    place = str(index)
    print("Place: " + place + " Dog: " + dog.title())

Results for the dog show are as follows:

Place: 0 Dog: Border Collie
Place: 1 Dog: Australian Cattle Dog
Place: 2 Dog: Labrador Retriever

#### Частая ошибка при использовании циклов со списком

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
for dog in dogs:
    print(dogs)

['border collie', 'australian cattle dog', 'labrador retriever']
['border collie', 'australian cattle dog', 'labrador retriever']
['border collie', 'australian cattle dog', 'labrador retriever']

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
for dog in dogs:
    print('I like ' + dogs + 's.')

TypeError: ignored

### Операции со списками

#### Изменение элемента

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs[0] = 'australian shepherd'
print(dogs)

['australian shepherd', 'australian cattle dog', 'labrador retriever']

#### Поиск элемента в списке

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
print(dogs.index('australian cattle dog'))

1

#### ValueError, если такого элемента нет

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
print(dogs.index('poodle'))

ValueError: ignored

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']

print('australian cattle dog' in dogs)
print('poodle' in dogs)

True
False

#### Добавление элемента в список методом append

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs.append('poodle')

for dog in dogs:
    print(dog.title() + "s are cool.")

Border Collies are cool.
Australian Cattle Dogs are cool.
Labrador Retrievers are cool.
Poodles are cool.

#### Добавление элемента в список методом insert

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
dogs.insert(1, 'poodle')

print(dogs)

['border collie', 'poodle', 'australian cattle dog', 'labrador retriever']

#### Создание пустого списка

In [ ]:
# Create an empty list to hold our users.
usernames = []

# Add some users.
usernames.append('bernice')
usernames.append('cody')
usernames.append('aaron')

# Greet all of our users.
for username in usernames:
    print("Welcome, " + username.title() + '!')

Welcome, Bernice!
Welcome, Cody!
Welcome, Aaron!

#### Можно отслеживать порядок добавления

In [ ]:
# Create an empty list to hold our users.
usernames = []

# Add some users.
usernames.append('bernice')
usernames.append('cody')
usernames.append('aaron')

# Greet all of our users.
for username in usernames:
    print("Welcome, " + username.title() + '!')

# Recognize our first user, and welcome our newest user.
print("\nThank you for being our very first user, " + usernames[0].title() + '!')
print("And a warm welcome to our newest user, " + usernames[-1].title() + '!')

Welcome, Bernice!
Welcome, Cody!
Welcome, Aaron!

Thank you for being our very first user, Bernice!
And a warm welcome to our newest user, Aaron!

#### Сортировка списка

In [ ]:
students = ['bernice', 'aaron', 'cody']

# Put students in alphabetical order.
students.sort()

# Display the list in its current order.
print("Our students are currently in alphabetical order.")
for student in students:
    print(student.title())

#Put students in reverse alphabetical order.
students.sort(reverse=True)

# Display the list in its current order.
print("\nOur students are now in reverse alphabetical order.")
for student in students:
    print(student.title())

Our students are currently in alphabetical order.
Aaron
Bernice
Cody

Our students are now in reverse alphabetical order.
Cody
Bernice
Aaron

#### *sorted()* vs. *sort()*

In [ ]:
students = ['bernice', 'aaron', 'cody']

# Display students in alphabetical order, but keep the original order.
print("Here is the list in alphabetical order:")
for student in sorted(students):
    print(student.title())

# Display students in reverse alphabetical order, but keep the original order.
print("\nHere is the list in reverse alphabetical order:")
for student in sorted(students, reverse=True):
    print(student.title())

print("\nHere is the list in its original order:")
# Show that the list is still in its original order.
for student in students:
    print(student.title())

Here is the list in alphabetical order:
Aaron
Bernice
Cody

Here is the list in reverse alphabetical order:
Cody
Bernice
Aaron

Here is the list in its original order:
Bernice
Aaron
Cody

#### Метод reverse

In [ ]:
students = ['bernice', 'aaron', 'cody']
students.reverse()

print(students)

['cody', 'aaron', 'bernice']

#### Сортировка списка чисел

In [ ]:
numbers = [1, 3, 4, 2]

# sort() puts numbers in increasing order.
numbers.sort()
print(numbers)

# sort(reverse=True) puts numbers in decreasing order.
numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [ ]:
numbers = [1, 3, 4, 2]

# sorted() preserves the original order of the list:
print(sorted(numbers))
print(numbers)

[1, 2, 3, 4]
[1, 3, 4, 2]

In [ ]:
numbers = [1, 3, 4, 2]

# The reverse() function also works for numerical lists.
numbers.reverse()
print(numbers)

[2, 4, 3, 1]

#### Длина (число элементов) списка

In [ ]:
usernames = ['bernice', 'cody', 'aaron']
user_count = len(usernames)

print(user_count)

3

In [ ]:
# Create an empty list to hold our users.
usernames = []

# Add some users, and report on how many users we have.
usernames.append('bernice')
user_count = len(usernames)

print("We have " + str(user_count) + " user!")

usernames.append('cody')
usernames.append('aaron')
user_count = len(usernames)

print("We have " + str(user_count) + " users!")

We have 1 user!
We have 3 users!

### Удаление элементов списка

#### Удаление элементов списка по индексу - команда *del*

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
# Remove the first dog from the list.
del dogs[0]

print(dogs)

['australian cattle dog', 'labrador retriever']

#### Удаление элементов списка по значению - метод *remove*

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
# Remove australian cattle dog from the list.
dogs.remove('australian cattle dog')

print(dogs)

['border collie', 'labrador retriever']

Это удаляет только первый попавшийся элемент с заданным значением

In [ ]:
letters = ['a', 'b', 'c', 'a', 'b', 'c']
# Remove the letter a from the list.
letters.remove('a')

print(letters)

['b', 'c', 'a', 'b', 'c']

#### Извлечение элементов списка - метод *pop*

In [ ]:
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
last_dog = dogs.pop()

print(last_dog)
print(dogs)

labrador retriever
['border collie', 'australian cattle dog']

Можно вытащить элемент по индексу

In [ ]:
###highlight=[3]
dogs = ['border collie', 'australian cattle dog', 'labrador retriever']
first_dog = dogs.pop(0)

print(first_dog)
print(dogs)

border collie
['australian cattle dog', 'labrador retriever']

#### Срез списка

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Grab the first three users in the list.
first_batch = usernames[0:3]

for user in first_batch:
    print(user.title())

Bernice
Cody
Aaron

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Grab the first three users in the list.
first_batch = usernames[:3]

for user in first_batch:
    print(user.title())

Bernice
Cody
Aaron

Исходный список остается неизменным

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Grab the first three users in the list.
first_batch = usernames[0:3]

# The original list is unaffected.
for user in usernames:
    print(user.title())

Bernice
Cody
Aaron
Ever
Dalia

#### Так можно обратиться к любому подмножеству элементов списка

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Grab a batch from the middle of the list.
middle_batch = usernames[1:4]

for user in middle_batch:
    print(user.title())

Cody
Aaron
Ever

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Grab all users from the third to the end.
end_batch = usernames[2:]

for user in end_batch:
    print(user.title())

Aaron
Ever
Dalia

#### Копирование списка

In [ ]:
usernames = ['bernice', 'cody', 'aaron', 'ever', 'dalia']

# Make a copy of the list.
copied_usernames = usernames[:]
print("The full copied list:\n\t", copied_usernames)

# Remove the first two users from the copied list.
del copied_usernames[0]
del copied_usernames[0]
print("\nTwo users removed from copied list:\n\t", copied_usernames)

# The original list is unaffected.
print("\nThe original list:\n\t", usernames)

The full copied list:
	 ['bernice', 'cody', 'aaron', 'ever', 'dalia']

Two users removed from copied list:
	 ['aaron', 'ever', 'dalia']

The original list:
	 ['bernice', 'cody', 'aaron', 'ever', 'dalia']

In [ ]:
a = [1, 2, 3]
b = a[:]
b.append(4)
a

[1, 2, 3]

#### Методы числовых списков

In [ ]:
# Print out the first ten numbers.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

#### Метод *range()*

In [ ]:
# Print the first ten numbers.
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Print the first ten odd numbers.
for number in range(1,21,2):
    print(number)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Create a list of the first ten numbers.
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Так можно создавать большие списки

In [ ]:
# Store the first million numbers in a list.
numbers = list(range(1,1000001))

# Show the length of the list:
print("The list 'numbers' has " + str(len(numbers)) + " numbers in it.")

# Show the last ten numbers:
print("\nThe last ten numbers in the list are:")
for number in numbers[-10:]:
    print(number)

The list 'numbers' has 1000000 numbers in it.

The last ten numbers in the list are:
999991
999992
999993
999994
999995
999996
999997
999998
999999
1000000

#### Методы *min()*, *max()* и *sum()*

In [ ]:
ages = [23, 16, 14, 28, 19, 11, 38]

youngest = min(ages)
oldest = max(ages)
total_years = sum(ages)

print("Our youngest reader is " + str(youngest) + " years old.")
print("Our oldest reader is " + str(oldest) + " years old.")
print("Together, we have " + str(total_years) + " years worth of life experience.")

Our youngest reader is 11 years old.
Our oldest reader is 38 years old.
Together, we have 149 years worth of life experience.

### Сокращенные нотации списков (list comprehensions)
Как бы мы создали список первых десяти полных квадратов

In [ ]:
# Store the first ten square numbers in a list.
# Make an empty list that will hold our square numbers.
squares = []

# Go through the first ten numbers, square them, and add them to our list.
for number in range(1,11):
    new_square = number**2
    squares.append(new_square)
    
# Show that our list is correct.
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

#### Синтаксис сокращенной нотации позволяет сделать это короче

In [ ]:
# Store the first ten square numbers in a list.
squares = [number**2 for number in range(1,11)]

# Show that our list is correct.
for square in squares:
    print(square)

1
4
9
16
25
36
49
64
81
100

Другой пример: список первых десяти четных чисел

In [ ]:
# Make a list of the first ten even numbers.
evens = [number*2 for number in range(1,11)]

for even in evens:
    print(even)

2
4
6
8
10
12
14
16
18
20

#### То же можно делать и со списками строк

In [ ]:
# Consider some students.
students = ['bernice', 'aaron', 'cody']

# Let's turn them into great students.
great_students = [student.title() + " the great!" for student in students]

# Let's greet each great student.
for great_student in great_students:
    print("Hello, " + great_student)

Hello, Bernice the great!
Hello, Aaron the great!
Hello, Cody the great!

### Строки как списки

In [ ]:
message = "Hello!"

for letter in message:
    print(letter)

H
e
l
l
o
!

In [ ]:
message = "Hello world!"

message_list = list(message)
print(message_list)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!']

#### Срез строки

In [ ]:
message = "Hello World!"
first_char = message[0]
last_char = message[-1]

print(first_char, last_char)

H !

In [ ]:
message = "Hello World!"
first_three = message[:3]
last_three = message[-3:]

print(first_three, last_three)

Hel ld!

#### Преобразование в список

Функция `list()` позволяет перобразовать любой итерируемый объект в список:

In [ ]:
print("Hello", list("Hello"))
print(range(1, 6), list(range(1, 6)))
print((1, 2, 3, 4, 5), list((1, 2, 3, 4, 5)))

Hello ['H', 'e', 'l', 'l', 'o']
range(1, 6) [1, 2, 3, 4, 5]
(1, 2, 3, 4, 5) [1, 2, 3, 4, 5]

## Часть 2. Кортежи
Кортеж - это неизменяемый список. Определяется круглыми скобками.

In [ ]:
colors = ('red', 'green', 'blue')
print("The first color is: " + colors[0])

print("\nThe available colors are:")
for color in colors:
    print("- " + color)

The first color is: red

The available colors are:
- red
- green
- blue

#### Ничего добавить в кортеж нельзя

In [ ]:
colors = ('red', 'green', 'blue')
colors.append('purple')

AttributeError: ignored

Также нельзя поменять или удалить элемент кортежа.

#### Форматирование строк с помощью кортежей

In [ ]:
animal = 'dog'
print("I have a %s." % animal)

I have a dog.

In [ ]:
animals = ['dog', 'cat', 'bear']
for animal in animals:
    print("I have a %s." % animal)

I have a dog.
I have a cat.
I have a bear.

#### Можно так же передать кортеж

In [ ]:
animals = ('dog', 'cat', 'bear')
print("I have a %s, a %s, and a %s." % (animals[0], animals[1], animals[2]))

I have a dog, a cat, and a bear.

#### Или использовать метод *format()* для строк

Символ `*` перед списком, кортежем, ... приводит к его распаковке, то есть к виду: `lst[0], lst[1], ..., lst[n]`

In [ ]:
animals = ('dog', 'cat', 'bear')
print("I have a {0}, a {1}, and a {2}.".format(animals[0], animals[1], animals[2]))
print("I have a {0}, a {1}, and a {2}.".format(*animals))

I have a dog, a cat, and a bear.
I have a dog, a cat, and a bear.